<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Todo</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>Edit Todo</h1>
    <form action="/todos/<%= todo.id %>" method="POST">
      <input type="hidden" name="_method" value="PUT" />
      <input type="text" name="task" value="<%= todo.task %>" />
      <button type="submit">Update Todo</button>
    </form>
  </body>
</html>
